name: CI/CD - Blog Tech 2

on:
  push:
    branches: [ "master" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    env:
      PORT: 3000
      ENV: development
      DATABASE_USER: ${{ secrets.DATABASE_USER }}
      DATABASE_HOST: postgres
      DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      DATABASE_PORT: 5432
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start Postgres (Docker)
        run: |
          docker run -d \
            --name postgres \
            -e POSTGRES_DB=$DATABASE_NAME \
            -e POSTGRES_USER=$DATABASE_USER \
            -e POSTGRES_PASSWORD=$DATABASE_PASSWORD \
            -p $DATABASE_PORT:5432 \
            postgres:16-alpine

      - name: Wait for Postgres
        run: |
          until docker exec postgres pg_isready -U "$DATABASE_USER" -d "$DATABASE_NAME"; do
            echo "Waiting for postgres..."
            sleep 3
          done

      - name: Build and Push Docker Image
        run: |
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          docker build -t $DOCKER_USERNAME/blog-tech2:latest --build .
          docker push $DOCKER_USERNAME/blog-tech2:latest
